.tool {
    background-color: black;
  }

a {
  text-decoration: none;
  color:inherit;
}
  
#link {
  text-decoration: none;
  color:inherit;
}

input[type="text"]
{
  margin-left: 7vh;
  background: black;
  border: none;
  color: white;
    
}

input[type="text"]:hover {
  background-color: rgba(240, 248, 255, 0.061);
}

button {
  background: black;
  border: none;
  color: white;
}
