a {
    text-decoration:none;
}

.container {
    display: grid;
    justify-content: left;
    
}
.first-post {
    margin-top: 20px;
    padding: auto;
    background-color: black;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
}
