.container-post {
    display: grid;
    justify-content: center;
    
}
.post {
    margin-top: 20px;
    padding: auto;
    background-color: black;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

#link {
    text-decoration: none;
    cursor: pointer;
}